<a href="https://colab.research.google.com/github/KY0145/Prmn2023/blob/main/my_answer/PythonBasic_4_Myanswer_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random

student = []

for i in range(5):
  student.append('b' + str(2220000 + random.randint(1,280)*10))

print(student)

['b2222540', 'b2220890', 'b2222590', 'b2221660', 'b2220530']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random

numlist = [i for i in range(10)]

random.shuffle(numlist)
list1 = numlist[:5]

random.shuffle(numlist)
list2 = numlist[:5]

sumlist = [list1[i] + list2[i] for i in range(5)]

print(f'1つ目のリスト：{list1}')
print(f'2つ目のリスト：{list2}')
print(f'足し合わせたリスト：{sumlist}')

1つ目のリスト：[5, 8, 6, 7, 1]
2つ目のリスト：[4, 5, 9, 1, 3]
足し合わせたリスト：[9, 13, 15, 8, 4]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [1]:
# 入力用
import random

todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)

kuwake = []

for i in range(12):
  kuwake.append(todohuken_list[4*i:4*i+4])

print(kuwake)

[['和歌山県', '茨城県', '埼玉県', '宮崎県'], ['大分県', '長野県', '佐賀県', '福井県'], ['神奈川県', '滋賀県', '徳島県', '熊本県'], ['新潟県', '東京都', '福島県', '静岡県'], ['石川県', '高知県', '栃木県', '奈良県'], ['山梨県', '香川県', '島根県', '青森県'], ['福岡県', '山口県', '愛媛県', '宮城県'], ['山形県', '北海道', '京都府', '三重県'], ['岩手県', '岐阜県', '秋田県', '大阪府'], ['鳥取県', '岡山県', '群馬県', '富山県'], ['広島県', '愛知県', '沖縄県', '鹿児島県'], ['千葉県', '長崎県', '兵庫県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用
import re

university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

age_list = []
u_dict = {}

for i in range(4):
  age_list.append(int(university_list[i].split(',')[1]))
  u_dict[age_list[i]] = university_list[i]

age_list.sort()
sorted_list = []

for age in age_list:
  sorted_list.append(u_dict[age])

print(university_list)
print(sorted_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
N = 100

FizzBuzz = []
kinds = ('FizzBuzz', 'Fizz', 'Buzz', 'others')

for i in range(1,N+1):
  if i % 3 == 0 and i % 5 == 0:
    FizzBuzz.append(kinds[0])
  elif i % 3 == 0:
    FizzBuzz.append(kinds[1])
  elif i % 5 == 0:
    FizzBuzz.append(kinds[2])
  else:
    FizzBuzz.append(kinds[3])

for i in kinds:
  print(f'{i}の数：{FizzBuzz.count(i)}')

FizzBuzzの数：6
Fizzの数：27
Buzzの数：14
othersの数：53